.l10n-quick-links-container {
  background-color:#ddd;
  position: fixed;
  padding: 10px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  overflow: auto;
  z-index: 10;
  width: 80%;
  display: block;
  height: 200px;
}

.l10n-quick-links-container.closed {
  display: none;
}

.l10n-quick-links-container.closed .l10n-quick-links-content {
  display: none;
}

.l10n-quick-links-container ul {
  list-style-type: none;
  /* Needed for seven */
  margin-left: 0;
  padding-left: 0;
}

.l10n-quick-links-container ul li {
  display: inline;
}

.l10n-quick-links-container a {
  text-decoration: none;
  padding: 2px 0;
  border-bottom: none;
  font-size: 1.1em;
}

body .l10n-quick-links-container a:hover {
  text-decoration: none;
  border-bottom-style: none;
}

body .l10n-quick-links-container a:focus {
  text-decoration: none;
  border-bottom-style: none;
}

.l10n-quick-links-container ul li a:after {
  content: ' - ';
}

body .l10n-quick-links-container h2 {
  margin: 3px 0;
  font-size: 1.1em;
  font-weight: bolder;
}

.toolbar .toolbar-bar .l10n-quick-links-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .l10n-quick-links-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar .toolbar-bar .l10n-quick-links-toolbar-tab .toolbar-item {
  margin: 0;
}
[dir="rtl"] .toolbar .toolbar-bar .l10n-quick-links-toolbar-tab .toolbar-item {
  padding-right: 1.3333em;
}
.toolbar .l10n-quick-links-toolbar-tab button.active {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}
.l10n-quick-links-toolbar-tab button:focus {
  outline: thin dotted;
}
.toolbar-bar .toolbar-icon-l10n-quick-links:before {
  background-image: url(../images/translate_icon_bebebe.svg);
}
.toolbar-bar .toolbar-icon-l10n-quick-links:active:before,
.toolbar-bar .toolbar-icon-l10n-quick-links:before {
  background-image: url(../images/translate_icon_ffffff.svg);
}

/* @todo Remove once https://drupal.org/node/1916690 is resolved. */
.toolbar .l10n-quick-links-toolbar-tab.toolbar-tab.hidden {
  display: none;
}
