{#
/**
 * @file
 * Default theme implementation to render the l10n quick links widget.
 *
 * Available variables:
 *   - container_class: class either 'open' or 'closed'.
 *   - links: a string containing the contexts and links to the translation strings.
 */
#}
<div class="l10n-quick-links-container{{ container_class }}">
  <div class="l10n-quick-links-content">
    <div><input type="textfield" class="l10n-quick-links-search" placeholder="Search string"></div>
    {{ links }}
  </div>
</div>
